@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<canvas id="myCanvas" width="600" height="600" style="border:1px solid green"></canvas>

<div>
<form>
    <input type="button" value="Square" onclick="sqr()">
</form>
<form>
    <input type="button" value="HST" onclick="hst()">
</form>
</div>
<div>
    <p id="value"></p>
</div>

<script>
    function sqr() {
        document.getElementById("value").innerHTML = "Square";
    }
    function hst() {
        document.getElementById("value").innerHTML = "HST";
    }


    function printSquare(x,y,color)
    {
        ctx.fillStyle = color;
        ctx.fillRect(0 + i * blockSize, 0 + j * blockSize, blockSize, blockSize);
    }
    function printHST(x, y, color1, color2)
    {
        ctx.fillStyle = color1;
        ctx.beginPath();
        ctx.moveTo(x, y);
        ctx.lineTo(x, blockSize);
        ctx.lineTo(blockSize, blockSize);
        ctx.fill();
        ctx.fillStyle = color2;
        ctx.beginPath();
        ctx.moveTo(x, y);
        ctx.lineTo(blockSize, y);
        ctx.lineTo(blockSize, blockSize);
        ctx.fill();
    }
    
    var canvas = document.getElementById('myCanvas');
    var ctx = canvas.getContext("2d");

    var blockSize = 300;
    var blocks =[['green', 'yellow'],['red', 'blue']];

    for (var i = 0; i < blocks.length; i++)
        for (var j = 0; j < blocks.length; j++)
        {
            printSquare(0 + i, 0 + j,blocks[i][j]);
        }

   printHST(0,0,'orange','purple');
    
</script>